$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;
.login-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/login-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    .login-form {
        position: absolute;
        left: 50%;
        top:50%;
        margin-left:-200px;
        margin-top:-200px;
        width: 330px;
        height:330px;
        padding: 36px 36px 16px 36px;
        background:#fff;
        border-radius:5px;
        text-align: center;
        .title-container {
            position: relative;
            margin-bottom: 35px;
        }
        /**/
        .el-form-item {
            background: #fff;
            text-align: left;
            width: 260px;
            border-bottom: 1px solid #99a9bf;
            margin:0 auto;
            margin-bottom: 20px;
            .el-input {
                display: inline-block;
                width: 80%;
                input {
                    background: transparent;
                    border: 0px;
                    -webkit-appearance: none;
                    border-radius: 0px;
                    padding: 12px 5px 12px 15px;
                    color: #f00;
                    height: 47px;
                    &:-webkit-autofill {
                        -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
                        -webkit-text-fill-color: #fff !important;
                    }
                }
            }
            .svg-container {
                color: $dark_gray;
                vertical-align: middle;
                display: inline-block;
                float: right;
                &_user {
                    color:#55ce63;
                }
                &_password{
                    color:#55ce63;
                }
            }
        }
        /**/
        .el-button{
            width:154px;
            border-radius:34px;
            margin-top:26px;
        }
    }
}
